.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-container {
  flex-direction: row;
}

.button {
  width: 150px;
  border-radius: 10px;
  margin: 20px;
  min-height: 40px;
  border-width: 0px;
  color: white;
}

.white-text {
  color: #fff;
}

.red-text {
  color: #e74c3c;
}

.green-text {
  color: #2ecc71;
}

.blue-text {
  color: #3498db;
}

.red {
  background-color: #e74c3c;
}

.green {
  background-color: #2ecc71;
}

.blue {
  background-color: #3498db;
}
